.heading_div
{
    float: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px rgb(118, 118, 189); 
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(118, 118, 189);
    background-color: grey;
}

.heading_div2
{
    font-size: 20px;
}

.result_para_tag
{
    box-shadow: 5px 5px 5px rgb(48, 80, 50);
    font-size: 20px;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px double white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}